*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    border: 0;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li img.logo {
    margin-right: 8px;
}

.logo-title {
    font-size: 20px;
}

.wrapper {
    background-color: white;
    display: flex;
}

.wrapper .left {
    width: 330px;
    min-height: 700px;
    float: left;
    background-color: white;
    padding-top: 48px;
}

.wrapper .right {
    width: calc(100% - 330px);
    min-height: 700px;
    background-color: #F8F8F8;
    border-left: 1px solid #E8E8E8;
    box-sizing: border-box;
    float: left;
}

.emails{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-top: 9px;
    margin-bottom: 42px;
}

.label {
    width: 330px;
    height: 71px;
    background: #0047FF;

    margin-bottom: 19px;
    position: relative;
}

.label a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.label .info {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0047FF;
}

.label .info.check-icon {
    background-color: transparent;
    border: 10px solid white;
}

.label.disable {
    background-color: #E0E0E4;
}

.label span {
    font-size: 25px;
    line-height: 34px;
    color: white;
    text-align: left;
    padding-left: 20px;
}

.label.disable span {
    color: black;
}

.label.disable .info{
    color: #000000;
}

.right-arrow {
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-left: 30px solid #0047FF;
    border-bottom: 36px solid transparent;
    position: absolute;
    right: -30px;
}
.right {
    padding: 55px 62px ;
}
.right .title {
    font-size: 30px;
    line-height: 41px;
    color: black;
    margin-bottom: 17px;
}

.right .information {
    padding-left: 10px;
    width: 633px;
}

.video {
    margin-top: 50px;
    width: 633px;
}
.video-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    width: 633px;
}
.video-links .passive {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #BBBBBB;
}

.video-links .active {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #0047FF;
}